apiVersion: apps/v1
kind: Deployment
metadata:
 labels:
   app: linkwarden
 name: linkwarden
spec:
 replicas: 1
 selector:
   matchLabels:
     app: linkwarden
 template:
   metadata:
     labels:
       app: linkwarden
   spec:
     containers:
      - name: linkwarden
        imagePullPolicy: IfNotPresent
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: linkwarden-pg-pguser-linkwarden-pg-admin
                key: uri
          - name: NEXTAUTH_SECRET
            value: supersecret-value-two
          - name: NEXTAUTH_URL
            value: https://linkwarden.hyperpixel.net/api/v1/auth
        image: ghcr.io/linkwarden/linkwarden:latest
        ports:
          - containerPort: 3000
        resources:
          limits:
            memory: 5Gi
          requests:
            memory: 5Gi
            cpu: 10m